{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry"
            }
        ],
        "react-app",
        "@babel/typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-function-bind",
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ]
    ]
}
